# Virtual environment
.venv/

# Sensitive files
.env
token.pickle
credentials.json
data/notes/notifications_cache.json

# ChromaDB data
data/chroma_db/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/